.welcome{
    background-image: url("images/home\ pg.jpg");
    height: 9rem;
    color: white;
    text-align: center;
    padding: 3rem;
}
.Causes {
    background-color: #00ff00;
}
.person img {
    width:200px;
    height:200px;
    border-radius:150px;
}
nav a:hover{
    color: black;
    font-weight: bold;
}
.row{
    text-align: center;
}