.welcome{
    background-image: url("images/home\ pg.jpg");
    height: 9rem;
    color: white;
    text-align: center;
    padding: 3rem;
}
.Causes {
    background-color: #7FC6A4;
}
.person img {
    width:200px;
    height:200px;
    border-radius:150px;
}